*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.loq
*.lox
*.tdo
*.idx
*.ind
*.ilg
*.dvi
*.ps
*.fdb_latexmk
*.synctex.gz(busy)
*.synctex(busy)
